notifyauthentication/src/NotifyAuthenticationHandler/Connected Services/AdmBalanceoILP/wsOBILP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/obILP_CL.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/obILP_CL.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSolicitudDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudDetail" nillable="true" type="tns:SolicitudDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudDetail" nillable="true" type="tns:ArrayOfSolicitudDetail" />
  <xs:complexType name="SolicitudDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcuerdoServicio" type="xs:int" />
      <xs:element minOccurs="0" name="Cola" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentHandle" type="xs:long" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoAsignacion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EtapaDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaConclusion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Prioritaria" type="xs:boolean" />
      <xs:element minOccurs="0" name="SolicitudId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoSolicitud" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudDetail" nillable="true" type="tns:SolicitudDetail" />
</xs:schema>