notifyauthentication/src/NotifyAuthenticationHandler/Connected Services/AdmBalanceoILP/wsOBILP1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://msi/AdmBalanceoILP/wsOBILP.OBILP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/obILP_CL.Model" />
  <xs:element name="RegistrarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solicitudID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoSolicitud" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocumentHandle" type="xs:long" />
        <xs:element minOccurs="0" name="etapa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarSolicitudResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="etapa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsignarSolicitudResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiberarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiberarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LiberarSolicitudResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarMovimientoSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solicitudID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nuevaEtapa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nuevaCola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarMovimientoSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotificarMovimientoSolicitudResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CerrarSolicitudResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiberarSolicitudEnOnBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solicitudID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="etapa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiberarSolicitudEnOnBaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LiberarSolicitudEnOnBaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignacionSolicitudPorSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solicitudID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="etapa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignacionSolicitudPorSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsignacionSolicitudPorSolicitudResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReAsignarSolicitudEnOnBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solicitudID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="etapa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReAsignarSolicitudEnOnBaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReAsignarSolicitudEnOnBaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolicitudes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolicitudesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/obILP_CL.Model" minOccurs="0" name="GetSolicitudesResult" nillable="true" type="q1:ArrayOfSolicitudDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>